@import 'style_mobile'
@import 'mixins'

@media (max-width:767px)
        
    .breadcrumb
        @include rowCenter
        justify-content: center
        padding: 0
        
    .cart_box
        @include columnCenter
        gap: 32px
        padding-bottom: 96px
        
        &__right
            width: 100vw
            @include columnCenter
            justify-content: center
            padding-top: 0

    .card_box
        padding-top: 39px

    .card

        &__img
            width: 144px
            height: 188px

        &__info
            width: auto
            gap: 26px

        &__title
            width: 135px
            padding-top: 14px
            padding-left: 17px
            font-size: 16px
            line-height: 19px

        &__specifications
            width: 120px
            padding-left: 17px

        &__text
            font-size: 14px
            line-height: 17px

        &__input 
            width: 24px
            height: 15px
            font-size: 10px
            line-height: 12px

        &__close
            width: 10px
            height: 10px
            margin-top: 17px
            margin-left: 31px
            margin-right: 12px

    .cart_buttons
        justify-content: space-evenly
        padding-bottom: 0
        width: 95vw
        padding-top: 30px

        &__button
            font-size: 12px
            line-height: 14px
            padding: 9px 18px
